{% extends 'reviews/reviews_list.html' %}

{% block reviews_content %}
	<section class="add-review">
		<div class="wrapper-layout-center add-review__wrapper">
			<form action="{% url 'reviews:add_review' %}" method="POST", enctype="multipart/form-data" class="add-review__form">
				{% csrf_token %}
				<div class="add-review__left-wr">
						{{ form.name }}
						{{ form.description }}
				</div>
				<div class="add-review__right-wr">
					<label for="{{ form.is_haircut.id_for_label }}" class="checkbox">
						{{ form.is_haircut }}
						<span class="visible-checkbox"></span>
						Стрижка
					</label>
					<label for="{{ form.is_shave.id_for_label }}" class="checkbox">
						{{ form.is_shave }}
						<span class="visible-checkbox"></span>
						Бритье
					</label>
					<label for="{{ form.is_moustache.id_for_label }}" class="checkbox">
						{{ form.is_moustache }}
						<span class="visible-checkbox"></span>
						Усы
					</label>
					<label for="{{ form.images.id_for_label }}" class="upload">
						Вы можете прикрепить изоюражения к Вашему отзыву
						{{ form.images }}
					</label>
					<button type="submit" class="btn add-review__submit">Добавить отзыв</button>
				</div>
			</form>
		</div>
	</section>

{% endblock reviews_content %}
