{% extends 'base.html' %}
{% load static %}

{% block page_title %}
	Наши работы - barbershop
{% endblock %}

{% block main %}
	{% block reviews_content %}
		<section class="examples">
			<div class="wrapper-layout-center examples__wrapper">
				<h1 class="examples__title">Наши работы</h1>
				<a href="/reviews/add/" class="btn examples__on-the-main">
					Добавить отзыв
				</a>

				{% for review in reviews %}
					<div class="example examples__item
								{% if review.is_best_month_job %} example_main {% endif %}">
						<picture>
							<source media="(min-width: 1200px)"
							        srcset="
							        {% if review.is_best_month_job %}
							            {{ review.reviewphoto_set.all.0.resize_480x480 }}
									{% else %}
										{{ review.reviewphoto_set.all.0.resize_289x289 }}
									{% endif %}">
							<source media="(min-width: 768px)"
							        srcset="">
							<img class="example__photo" src=""
							     alt='{{ review.name }}'>
						</picture>
						<div class="example__description">
							<b class="example__name">{{ review.name }}</b>
							<p class="example__feedback">{{ review.description }}</p>
							<ul class="example__service-list">
								{% if review.is_haircut %}
									<li class="example__service-item example__service-item_haircut">
										Стрижка
									</li>
								{% endif %}
								{% if review.is_shave %}
									<li class="example__service-item example__service-item_shave">
										Бритье
									</li>
								{% endif %}
								{% if review.is_moustache %}
									<li class="example__service-item example__service-item_mustache">
										Усы
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				{% empty %}
					<p class="empty-text">В данном разделе пока нет отзывов</p>
				{% endfor %}

			</div>
		</section>
	{% endblock reviews_content %}
		{% include 'price_list/price_list.html' %}
	{% block price %}

	{% endblock price %}
{% endblock main %}