{% load static %}

{% if price %}
<section class="price">
	<div class="wrapper-layout-center price__wrapper">
		<h2 class="price__title">{{ price.title }}</h2>
		<table class="price__list">
			{% for item in price.priceitem_set.all %}
				<tr>
					<td class="price__first-col">{{ forloop.counter }}</td>
					<td class="price__second-col">{{ item.service }}</td>
					<td class="price__third-col">{{ item.get_head_clean_display }}</td>
					<td class="price__value">{{ item.Price }} руб.</td>
				</tr>
			{% endfor %}
		</table>
		<div class="price__discounts">
			<picture>
				<source media="(min-width: 1200px)"
				        srcset="{% static 'img/clock-desktop.png' %}">
				<img class="price__clock" src="{% static 'img/clock.png' %}" alt="часы">
			</picture>
			<span>{{ price.special_offers }}</span>
		</div>
	</div>
</section>
{% endif %}