
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding: 29px 0 26px 0;
  background-color: #242424;
}

.page-header__logo img {
  display: block;
  margin: 0 auto;
}

@media @tablet-width {

  .page-header {
    position: relative;
    background-color: #000000;
  }

  .page-header_inner {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;

      border-top: 35px solid transparent;
      border-left: 50vw solid #ffffff;
      border-right: 50vw solid #ffffff;
    }
  }

  .page-header__wrapper {
    order: -1;
  }

  .page-header__logo {
    height: 397px;
    padding-top: 40px;

    background-image: url(../img/logo-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-header__logo_inner {
    height: 214px;
  }

}

@media @desktop-width {

  .page-header {
    position: relative;
  }

  .page-header_inner {
    min-height: 490px;
  }

  .page-header__logo {
    bottom: 0;
    min-height: 649px;
    padding-top: 55px;
  }

  .page-header__logo_inner {
    height: 307px;
  }

}
