{% load static %}
{% load chunks_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block seo %}
		<title>{% block page_title %}{% endblock %}</title>
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta name="description" content="{% block description %}{% endblock %}">
	{% endblock seo %}

	{% block styles %}
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="x-icon">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">
	{% endblock styles %}

	{% block js %}
		<script src="{% static 'js/javascript.js' %}" defer></script>
	{% endblock js %}
</head>

<body class="body-index">
	<header class="page-header">
		<div class="page-header__logo
		{% if request.path == '/' %} page-header__logo--fp {% endif %}">
			<picture>
				<source media="(min-width: 1200px)"
				        srcset="{% static 'img/logotype-desktop.png' %}">
				<source media="(min-width: 768px)" srcset="{% static 'img/logotype-tablet.png' %}">
				<img src="{% static 'img/logotype-mobile.png' %}" alt="Borodinski">
			</picture>
		</div>

		<div class="wrapper-layout-center page-header__wrapper">

			<nav class="main-nav main-nav_closed main-nav_nojs">
				<button class="main-nav__toggle" type="button"></button>
				<div class="main-nav__inner-wrapper">
					<ul class="main-nav__list">
						<li class="main-nav__item
						{% if request.path == '/' %}main-nav__item_current{% endif %}">
							<a href="/">Главная</a>
						</li>
						<li class="main-nav__item
						{% if '/reviews/' in request.path %}main-nav__item_current{% endif %}">
							<a href="/reviews/">Наши работы</a>
						</li>
						<li class="main-nav__item
						{% if '/entry/' in request.path %}main-nav__item_current{% endif %}">
							<a href="/entry/">Записаться</a>
						</li>
						<li class="main-nav__item">
							<a href="#">Контакты</a>
						</li>
						<li class="main-nav__item">
							<a href="{% chunk 'portfolio-link' %}">matviu</a>
						</li>
					</ul>
					<ul class="main-nav__user-list">
						<li class="main-nav__user-item">
							{% if user.is_authenticated %}
								<a class="login-button" href="/accounts/profile/">{{ user.username }}</a>
							{% else %}
								<a class="login-button" href="/accounts/login/">Вход</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</nav>

		</div>
	</header>

	<main>
		{% block main %}

		{% endblock main %}
	</main>

	<footer class="page-footer">
		<div class="wrapper-layout-center page-footer__wrapper">
			<div class="page-footer__contacts">
				<b>Барбершоп Бородинский</b>
				<span>г. Санкт-Петербург, ул. Большая Конюшенная 19/8</span>
				<a href="tel:+78125556666">+7 (812) 555-66-66</a>
			</div>
			<div class="social-links">
				<span class="social-links__friendship">Давайте дружить!</span>
				<a href="{% chunk 'vk-link' %}" class="social-link social-link_vk"><span>Вконтакте
				</span></a>
				<a href="{% chunk 'fb-link' %}"
				   class="social-link social-link_fb"><span>Фейсбук</span></a>
				<a href="{% chunk 'inst-link' %}"
				   class="social-link social-link_inst"><span>Инстаграмм</span></a>
			</div>
			<div class="page-footer__copyright">
				<span>Разработано:</span>
				<a href="{% chunk 'portfolio-link' %}"
				   class="btn page-footer__cipyright-link">MATVIU
				</a>
			</div>
		</div>
	</footer>
</body>
</html>
